* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  background-color: rgb(238, 174, 202);
  background-image: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  color: rgb(27, 62, 122);
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

.input-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 15px;
}
.input-data p {
  margin-right: 15px;
}
.input-data input {
  width: 200px;
  padding: 10px;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(238, 174, 202);
  color: rgb(27, 62, 122);
  outline: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.input-data button {
  padding: 10px;
  font-size: 1.2rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  background-color: rgb(238, 174, 202);
  color: rgb(27, 62, 122);
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.input-data button:hover {
  background-color: rgb(246, 144, 188);
}
